body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list {
  margin-top: 50px;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.list-item {
  box-sizing: border-box; /* Додано для врахування padding та border у загальній ширині */
  width: calc(25% - 20px); /* Ширина картки, враховуючи відступи між ними */
  padding: 5px;
  margin: 0 10px 10px 0; /* Відступи між картками */
  text-align: center;
  list-style-type: none;
  border: 1px solid black;
  border-radius: 10px;
}

.list-img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.list-title {
  margin-top: 20px;
  font-size: 14px;
}

.list-text {
  margin-top: 20px;
  font-size: 12px;
}

.modal {
  width: 500px;
  background-color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

.modal-img {
  width: 300px;
}
